* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background: rgba(0, 0, 0, 0.7) url("../img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken; }

.cabrarata {
  width: 50%; }

h1,
h2,
h3 {
  text-align: center;
  color: #26aabb;
  font-family: 'Roboto'; }

.index-p {
  margin: 15px;
  color: #FFF5E4;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', cursive; }

.cabrarata {
  width: 25%; }

.navbar {
  background-color: #26aabb;
  flex-wrap: nowrap; }

.offcanvas-body {
  background-color: #26aabb; }

.index-p {
  margin: 15px;
  color: #0c8869;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Play', cursive; }

.accordion-body {
  background-color: #D2D79F; }

.index-p {
  margin: 15px;
  color: #FFF5E4;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto', cursive; }

.aCoor {
  padding: 20px;
  margin: 15px; }

.accordion-button {
  background-color: #e9c5246e; }

.bio-p {
  display: flex;
  margin: 15px 10px 5px 5px;
  justify-content: center;
  align-items: center;
  color: #26aabb;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif; }

.taRjeta {
  justify-content: center;
  margin: 3rem;
  padding: 3rem; }

.titulo-bio {
  margin: 15px 10px 5px 5px;
  color: #0c8869;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Play', sans-serif; }

.videoHer {
  width: 100%; }

.aCoor {
  padding: 20px;
  margin: 15px; }

.colL {
  text-decoration: underline;
  color: black; }

.gIra {
  display: grid;
  place-items: center; }
  .gIra_peP {
    color: #FFF5E4; }
  .gIra_tiTle {
    color: #0c8869;
    margin: 10px; }
  .gIra_liste {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px; }
    .gIra_liste_item {
      color: #FFF5E4;
      border: solid #26aabb 2px;
      margin: 0.5rem;
      font-family: 'Roboto';
      font-size: 1.5rem; }
      .gIra_liste_item:hover {
        background-color: aquamarine;
        color: blue; }

.pie {
  display: flex;
  font-size: 2rem;
  padding: 1.2rem;
  color: #0c8869;
  justify-content: space-between;
  align-content: space-around;
  align-items: center; }
  .pie .fab {
    font-size: 2rem;
    text-align: right;
    padding: 5px 10px;
    color: #26aabb; }
    .pie .fab:hover {
      transform: scale(1.5);
      transition: all 1.5s ease; }

@media screen and (max-width: 700px) {
  .pie {
    font-size: 1rem;
    margin: auto;
    color: #26aabb;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif; }
  .index-p {
    margin: 15px;
    color: #FFF5E4;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', cursive; }
  .fab a i {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    text-align: right;
    padding: 2.5px 5px;
    color: #0c8869; }
  .fab a i:hover {
    transform: scale(1.5);
    transition: all 1.5s ease; }
  .videoHer {
    width: 100%; }
  .bio-p {
    justify-content: center;
    align-items: center;
    color: #26aabb;
    text-align: center;
    font-size: 1rem;
    padding: 15px 25px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif; }
  .titulo-bio {
    margin: 15px;
    color: #0c8869;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Play', sans-serif; } }
