.bio-p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #15c9e0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.titulo-bio {

    margin: 15px;
    color: #2abe99;
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Play', sans-serif;

}