.pie {
    display: flex;
    font-size: 2rem;
    padding: 1.2rem;
    color: $verde;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;


    .fab {
        font-size: 2rem;
        text-align: right;
        padding: 5px 10px;
        color: $celeste;

        &:hover {
            transform: scale(1.5);
            transition: all 1.5s ease;
        }

    }
}