$celeste: #26aabb;
$verde: #0c8869;
$crema: #FFF5E4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: rgba(0, 0, 0, 0.7) url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.cabrarata {
    width: 50%;
}

h1,
h2,
h3 {
    text-align: center;
    color: $celeste;
    font-family: 'Roboto';
}

.index-p {
    margin: 15px;
    color: $crema;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', cursive;
}

@mixin taRjeta {
    justify-content: center;
    margin: 3rem;
    padding: 3rem;

}

@mixin index-p {
    margin: 15px;
    color: $crema;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', cursive;
} 

