.gIra {
        display: grid;
        place-items: center;
        &_peP{
            color: $crema;
            padding: 15px;
            font-family: 'play';
            font-size: 1rem;
        }
        &_tiTle{
            color: $verde;
            margin: 10px;
            font-family: 'Roboto';
            font-weight: bold;
       }
       &_liste{
        display: flex;
        justify-content: center;
        padding: 5px;
        margin: 10px;
        flex-direction: row;
        &_item{
            color: $crema;
            border:solid $celeste 2px;
            margin: 0.5rem;
            font-family:'Play';
            font-size: 1.5rem;
            &:hover{
                background-color: aquamarine;
                color: blue;
            }
        }
       }

       
}
.accordion-body{
    text-decoration: none;
    font-family: 'play';
}

