.cabrarata {
    width: 25%;
}


.navbar{
    background-color: #06c0b7
    
}
.offcanvas-body{
    background-color: #06c0b7
}

.index-p {

    margin: 15px;
    color: #42855B;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Play', cursive;
}