.cabrarata {
    width: 25%;
}


.navbar{
    background-color: $celeste;
    flex-wrap: nowrap;
    
    
}
.offcanvas-body{
    background-color: $celeste;
}

.index-p {

    margin: 15px;
    color: $verde;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Play', cursive;
}