@media screen and (max-width: 700px) {

    .pie {

        font-size: 1rem;
        margin: auto;
        color: $celeste;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }

    .index-p {
        margin: 15px;
        color:$crema;
        text-align: center;
        font-size: 1rem;
        font-family: 'Roboto', cursive;

    }

    .fab a i {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;

        flex-direction: column;
        font-size: 20px;
        text-align: right;
        padding: 2.5px 5px;
        color:$verde;
    }

    .fab a i:hover {
        transform: scale(1.5);
        transition: all 1.5s ease;
    }

    .videoHer {

        width: 100%;
       
    }

    .bio-p {

        justify-content: center;
        align-items: center;
        color:$celeste;
        text-align: center;
        font-size: 1rem;
        padding: 15px 25px;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
    }

    .titulo-bio {

        margin: 15px;
        color: $verde;
        text-align: center;
        font-size: 1.5rem;
        font-weight: normal;
        font-family: 'Play', sans-serif;

    }
}